<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">{{ product.name | uppercase }}</h3>
  </div>
  <div class="card-body row align-items-center">
    <div class="col-md-8">
      <p class="card-text">Descrição: {{ product.description }}</p>
      <p class="card-text">Preço: {{ product.price | currency:'BRL'}} <span class="Danger">{{product.onSale | saleBadgePipe:'OFERTA ESPECIAL!' }}</span></p>
      <p class="card-text">Data de lançamento: {{ product.launchDate | date:'dd/MM/yyyy' }}</p>
    </div>
    <div class="col-md-4">
      <img
      class="rounded img-fluid"
      [src]="product.imgUrl"
      alt="{{ product.name }}"
      (mouseenter)="isZoomed = true"
      (mouseleave)="isZoomed = false"
      [class.zoomed]="isZoomed">
    </div>
  </div>
  <div class="card-footer">
    <p class="card-text">Disponível: {{ product.available | availability }}</p>
  </div>
</div>
