
<h2>Lista de Produtos</h2>
<div class="row">
    @for (product of products(); track product.id) {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" [src]="product.image" alt="{{ product.title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <a [routerLink]="['/product', product.id]" class="btn btn-primary mt-auto">
                        Ver Detalhes
                    </a>
                </div>
            </div>
        </div>  
    }
</div>
